SITE_URL=https://cheemsarena.com
FAL_KEY=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
RAILWAY_TOKEN=
SQUIDEX_URL=https://cloud.squidex.io
SQUIDEX_APP=cheemsarena
SQUIDEX_CLIENT_ID=cheemsarena:default
SQUIDEX_CLIENT_SECRET=
